<table class="table is-fullwidth">
    <thead>
    <tr>
        <th><i class="fa-solid fa-hashtag"></i></th>
        <th>Migration</th>
        <th>Status</th>
        <th><i class="fa-solid fa-clock"></i></th>
        <th>Before tasks</th>
        <th>Migrators</th>
        <th>After tasks</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for migration in migrations_list %}
        {# @var migration \Fregata\FregataBundle\Doctrine\Migration\MigrationEntity #}
        <tr>
            <td>{{ migration.id }}</td>
            <td>
                <a href="{{ path('fregata_migration_details', {service_id: migration.serviceId}) }}">
                    {{ migration.serviceId }}
                </a>
            </td>
            <td>{% include '@Fregata/_includes/status_tag.html.twig' with {component: migration} %}</td>
            <td>{% include '@Fregata/_includes/time_stats.html.twig' with {component: migration} %}</td>
            <td>{{ migration.beforeTasks|length }}</td>
            <td>{{ migration.migrators|length }}</td>
            <td>{{ migration.afterTasks|length }}</td>
            <td>
                <a href="{{ path('fregata_run_details', {id: migration.id}) }}" class="button is-info is-outlined">
                    <span class="icon is-small">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                    <span>View</span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>